:root {
  --black: #34352d;
  --white: #b8b5ab;
  --purple: #a561f1;
}

body {
  background-color: var(--white);
}

.container {
  display: flex;
}

button {
  margin: 20px;
}

.grid {
  width: 200px;
  height: 400px;
  background-color: var(--black);
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.grid div {
  width: 20px;
  height: 20px;
}

.tetromino {
  background-color: var(--purple);
}

.next {
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--black);
  margin: 0px;
}

.next div {
  height: 20px;
  width: 20px;
}
