:root {
  --black: #22231b;
  --white: #706c5a;
  --purple: #a561f1;
}

.container {
  display: flex;
}

.grid {
  width: 200px;
  height: 400px;
  background-color: var(--black);
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;
}

.tetromino {
  background-color: var(--purple);
}

.next {
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--white);
  margin-left: 50px;
}

.next div {
  height: 20px;
  width: 20px;
}
